#videoAdLayer .threesixty {
  position: relative;
  overflow: hidden;
  border: solid 1px #c0c0c0;
  display: none;
  background-color: #fff;
}
#videoAdLayer .threesixty .spinner {
  width: 60px;
  display: block;
  margin: 0 auto;
  height: 30px;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#videoAdLayer .threesixty .spinner span {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}
#videoAdLayer .threesixty .threesixty_images {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#videoAdLayer .threesixty .threesixty_images img {
  position: absolute;
  top: 105px;
  width: 100%;
  height: auto;
  left: -25px;
}

#videoAdLayer .threesixty .threesixty_images img.current-image {
  visibility: visible;
  width: 100%;
}
#videoAdLayer .threesixty .threesixty_images img.previous-image {
  visibility: hidden;
  width: 0;
}

#videoAdLayer .threesixty .nav_bar {
position: absolute;
bottom: 10px;
z-index: 11;
left: 45%;
}

#videoAdLayer .threesixty .nav_bar a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(../img/sprites.png) no-repeat;
  text-indent: -99999px;
}
#videoAdLayer .threesixty .nav_bar a.nav_bar_previous {
  background-position: 0 -73px;
}
#videoAdLayer .threesixty .nav_bar a.nav_bar_next {
  background-position: 0 -104px;
}
#videoAdLayer .threesixty .nav_bar a.nav_bar_play {
  background-position: 0 0;
}
#videoAdLayer .threesixty .nav_bar a.nav_bar_stop {
  background-position: 0 -37px;
}
